.section {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 94px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
  &-title.feature {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &.advantage {
    padding-top: 0;
    display: none;

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
  &.team {
    background-color: #f5f4fa;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}
