.social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 24px;

  .link {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    content: "";
    align-items: center;
    width: 44px;
    height: 44px;
    color: #afb1b8;
    border-radius: 50%;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1),
      250ms background-color cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primary-white-color;
    }
  }
  &-icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
}
